/* line 1, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.track-show-page-container {
  width: 1200px;
  background-color: white;
  margin: auto;
  font-family: 'Oxygen';
}

/* line 8, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.track-banner {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  background-image: url("https://soundcrud-seeds.s3.amazonaws.com/user-header-images/default-track-header-banner.png");
  background-size: cover;
  padding: 30px;
}

/* line 17, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.track-show-page-under-banner {
  width: 800px;
}

/* line 21, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.track-banner-left {
  display: flex;
}

/* line 25, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.track-play-btn {
  font-size: 64px;
  margin: 0px 7px 0px 0px;
  color: #c014ff;
}

/* line 31, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.track-banner-title {
  width: max-content;
  background-color: #282828;
  color: white;
  font-size: 24px;
  margin: 0px 0px 15px 0px;
  padding: 5px;
}

/* line 40, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.track-banner-uploader {
  text-decoration: none;
  width: max-content;
  background-color: #282828;
  color: #cacaca;
  font-size: 18px;
  padding: 5px;
}

/* line 49, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.track-banner-uploader:visited {
  text-decoration: none;
}

/* line 53, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.track-show-cover-img {
  width: 300px;
  height: auto;
}

/* line 58, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.track-show-page-under-banner {
  padding: 0px 0px 30px 30px;
}

/* line 62, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.comment-form-profile-pic {
  width: 40px;
  height: 40px;
}

/* line 67, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.comment-form-container {
  display: flex;
  margin: 20px 0px 15px 0px;
}

/* line 72, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.comment-form {
  width: 100%;
  border: 1px solid #e3e3e3;
  background-color: #f1f1f1;
}

/* line 78, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.comment-form input {
  margin: 5px 0px 5px 5px;
  width: 98%;
  height: 65%;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  font-family: 'Oxygen';
  font-size: 16px;
}

/* line 88, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.comment-form input:focus {
  outline: none;
}

/* line 92, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.modify-track-btns {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 15px 0px;
  border-bottom: 1px solid #cfcfcf;
}

/* line 98, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.modify-track-btn {
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  margin: 0px 3px 0px 0px;
  padding: 4px 10px;
  font-family: 'Oxygen';
  font-size: 13px;
}

/* line 108, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.modify-track-btn:hover {
  border-color: #cacaca;
  cursor: pointer;
}

/* line 113, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.under-comment-form {
  display: flex;
}

/* line 117, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.uploader-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 123, /Users/Suzi/Desktop/app_academy/fullstack_project/soundCRUD/app/assets/stylesheets/track_show.scss */
.uploader-details-pic {
  width: 100px;
  background-color: pink;
  border-radius: 100%;
}
