.comments-index-container {
    border: 1px solid black;
}

.comment-obj-container {
    display: flex;
    justify-content: space-between;
}

.comment-obj {
    display: flex;
}

.comment-body {
    display: flex;
    flex-direction: column;
}

.comment-profile-pic {
    width: 40px;
    background-color: rgb(158, 97, 127);
    border-radius: 50%;
}