.discover-page-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    background-color: white;
    margin: auto;
};

.discover-track-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 50px 0px;
};

.discover-track-obj {
    display: flex;
    flex-direction: column;
};

.discover-track-cover-img {
    width: 150px;
    height: 150px;
};

.uploaders-list-container {
    border: 1px solid black;
    width: 350px;
}