.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(236, 236, 236, 0.697);
  z-index: 10;
};

.modal-child {
  position: absolute;
  top: 60%;
  left: 50%;
  // width: 370px;
  // height: 400px;
  width: 430px;
  height: 500px;
  background-color: white;
  transform: translate(-50%, -60%);
};

.session-form-div {
  display: flex;
  flex-direction: column;
  padding: 20px;
};

.session-form {
  display: flex;
  flex-direction: column;
};

.session-errors {
  font-family: 'Oxygen';
  font-size: 12px;
  color: rgb(198, 18, 150);
}

.session-form-div button {
  border-radius: 3px;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  color: white;
  height: 35px;
};

.session-form-div button:hover {
  cursor: pointer;
}

.session-login-guest-btn {
  margin: 50px 0px 0px 0px;
  background-color: rgb(53, 144, 175);
  border: 1px solid rgb(53, 144, 175);
};

.session-form-separator {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
};

.line-separator {
  width: 100%;
  text-align: center;
  line-height: 2%;
  border-bottom: 1px solid black;
  margin: 20px 0px;
}

.line-separator span {
  background-color: white;
  padding: 15px;
}

.session-form input {
  height: 35px;
  margin: 5px 0px 5px 0px;
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
  padding-left: 10px;
};

.session-submit-btn {
  margin: 5px 0px 0px 0px;
  background-color: rgb(193, 19, 255);
  border: 1px solid rgb(193, 19, 255);
};

.session-switch-btn {
  background-color: rgb(205, 26, 122);
  border: 1px solid rgb(205, 26, 122);
}