.navbar-bg {
    display: flex;
    justify-content: center;
    height: 47px;
    background-color: rgb(39, 37, 40);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 47px;
    margin-bottom: 2em;
    font-size: 14px;
    font-weight: 300;
};


.nav-link:link {
    text-decoration: none;
};

#discover-logo-div {
    background-color: rgb(192, 20, 255);
    background-image: url("/soundcrud-logo-5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.discover-logo {
    // width: 60px;
    // height: auto;
    // width: 100%;
    // height: 100%;
    display: none;
};

.left-side-bar {
    display: flex;
}

.left-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 47px;
    text-decoration: none;
    color: rgb(205, 205, 205);
    border-right: 1px solid black;
    font-family: 'Oxygen';
};

.nav-brand-link {
    text-decoration: none;
    font-size: 14px;
}

.nav-brand-icon {
    font-size: 16px;
}

.left-nav-btn:hover, .right-nav-btn:hover {
    color: white;
}

.active-nav-btn {
    background-color: black;
};

.left-side-bar:first-of-type {
    border-left: 1px solid black;
}

.nav-home-link {
    color: white;
    text-decoration: none;
};

.right-side-bar {
    display: flex;
}

.right-nav-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 47px;
    text-decoration: none;
    color: rgb(205, 205, 205);
    font-family: 'Oxygen';
};
