#root {
    background-color: rgb(236, 236, 236);
}

.splash-page {
    width: 1000px;
    margin: auto;
    background-color: white;
    border-top: solid 3px deeppink;
    font-family: 'Oxygen', sans-serif;
}

.splash-banner {
    height: 300px;
    background-image: url("https://wallpapercave.com/wp/wp5161079.jpg");
    background-size: cover;
    background-position-y: center;
}

.splash-header-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.splash-main-title {
    color: white;
}

.login-button, .signup-button {
    padding: 5px 10px;
    font-weight: 300;
    font-size: 10px;
};

.login-button:hover, .signup-button:hover, .splash-upload-button:hover {
    cursor: pointer;
};

.login-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    margin: 0px 10px;
};

.signup-button {
    background-color: deeppink;
    border: 1px solid deeppink;
    border-radius: 2px;
    color: white;
};

.splash-mid {
    display: flex;
    justify-content: center;
};

.splash-upload-button {
    margin: 25px;
    background-color: rgb(214, 21, 124);
    border: 1px solid rgb(214, 21, 124);
    border-radius: 2px;
    color: white;
    padding: 10px 20px;
};

.splash-tracks-msg {
    display: flex;
    justify-content: center;
};

.splash-track-list-msg {
    margin: 0px 25px 25px 25px;
    color: rgb(56, 56, 56);
    font-size: 20px;
    font-weight: 100;
};

.splash-track-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
};

.splash-track-obj {
    display: flex;
    flex-direction: column;
    margin: 7px;
};

.splash-track-cover-img {
    width: 150px;
    height: 150px;
};

.splash-track-title {
    font-size: 12px;
};

.splash-track-uploader {
    font-size: 10px;
    color: rgb(129, 129, 129);
}