.track-show-page-container {
    width: 1200px;
    background-color: white;
    margin: auto;
    font-family: 'Oxygen';
}

.track-banner {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    background-image: url("https://soundcrud-seeds.s3.amazonaws.com/user-header-images/default-track-header-banner.png");
    background-size: cover;
    padding: 30px;
}

.track-show-page-under-banner {
    width: 800px;
}

.track-banner-left {
    display: flex;
}

.track-play-btn {
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    margin: 0px 7px 0px 0px;
    color: white;
    background-color: rgb(192, 20, 255);
    padding: 20px 20px 20px 25px;
    border-radius: 100%;
}

.track-play-btn:hover {
    cursor: pointer;
}

.track-banner-title {
    width: max-content;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 24px;
    margin: 0px 0px 15px 0px;
    padding: 5px;
}

.track-banner-uploader {
    text-decoration: none;
    width: max-content;
    background-color: rgb(40, 40, 40);
    color: rgb(202, 202, 202);
    font-size: 18px;
    padding: 5px;
}

.track-banner-uploader:visited {
    text-decoration: none;
}

.track-banner-right {
    display: flex;
}

.track-banner-right-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 20px 10px 0px;
}

.time-ago {
    width: max-content;
    background-color: rgba(255, 255, 255, 0.445);
    color: rgb(49, 49, 49);
    padding: 5px;
    font-size: 18px;
}

.track-show-genre {
    margin: 20px 0px 0px 0px;
    padding: 7px;
    color: white;
    background-color: rgba(0, 0, 0, 0.327);
    border-radius: 30px;
}

.track-show-cover-img {
    width: 300px;
    height: auto;
}

.track-show-page-under-banner {
    padding: 0px 0px 30px 30px;
}

.comment-form-profile-pic {
    width: 40px;
    height: 40px;
}

.comment-form-container {
    display: flex;
    margin: 20px 0px 15px 0px;
}

.comment-form {
    width: 100%;
    border: 1px solid rgb(227, 227, 227);
    background-color: rgb(241, 241, 241);
}

.comment-form input {
    margin: 5px 0px 5px 5px;
    width: 98%;
    height: 65%;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 3px;
    font-family: 'Oxygen';
    font-size: 16px;
}

.comment-form input:focus {
    outline: none;
}

.modify-track-btns {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.modify-track-btn {
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 2px;
    margin: 0px 3px 0px 0px;
    padding: 4px 10px;
    font-family: 'Oxygen';
    font-size: 13px;
}

.modify-track-btn:hover {
    border-color: rgb(202, 202, 202);
    cursor: pointer;
}

.under-comment-form {
    display: flex;
}

.uploader-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploader-details-pic {
    width: 100px;
    background-color: pink;
    border-radius: 100%;
}