.user-show-page-container {
    width: 1200px;
    background-color: white;
    margin: auto;
    font-family: 'Oxygen';
}

.user-banner {
    display: flex;
    background-color: rgb(243, 243, 243);
    background-image: url("https://soundcrud-seeds.s3.amazonaws.com/user-header-images/user-default-header-banner.png");
    background-size: cover;
    margin: 0px 0px 30px 0px;
    padding: 30px;
}

.profile-pic-div {
    position: relative;
    width: fit-content;
}

.user-profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.update-prof-pic-btn {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    bottom: 0%;
    left: 20%;
    right: 10%;
    font-family: 'Oxygen';
    font-size: 12px;
    padding: 2px 5px;
}

.update-prof-pic-btn:hover {
    cursor: pointer;
}

.user-banner-username {
    width: max-content;
    height: max-content;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 24px;
    margin: 0px 0px 0px 30px;
    padding: 10px;
}

.user-tracks-index-container {
    width: 800px;
    border-top: 1px solid rgb(214, 214, 214);
    margin: 0px 0px 0px 30px;
}

.user-track-obj-container {
    display: flex;
    margin: 30px 0px 30px 0px;
}

.user-track-player {
    display: flex;
    margin: 0px 0px 0px 15px;
}

.user-track-play-btn {
    font-size: 34px;
    margin: 0px 5px 0px 0px;
}

.user-track-labels {
    display: flex;
    flex-direction: column;
}

.user-track-uploader {
    font-size: 12px;
    color: gray;
    margin: 0px 0px 3px 0px;
    text-decoration: none;
}

.user-track-title {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.user-track-cover-img {
    width: 150px;
    height: 150px;
}